.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  margin: auto;
  padding-top: 3rem;
}

.tasks-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 0.6rem;
  padding: 1rem;
  width: 300px;
}

.form h2 {
  text-align: center;
}

.form input {
  padding: 0.6rem;
}

.form button {
  padding: 0.6rem;
}
